
        <p-toolbar styleClass="mb-6">
            <ng-template #start>
                <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
                <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
            </ng-template>

            <ng-template #end>
                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="products()"
            [rows]="10"
            [columns]="cols"
            [paginator]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedProducts"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
        >
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Manage Products</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th style="min-width: 16rem">Code</th>
                    <th pSortableColumn="name" style="min-width:16rem">
                        Name
                        <p-sortIcon field="name" />
                    </th>
                    <th>Image</th>
                    <th pSortableColumn="price" style="min-width: 8rem">
                       Sale Price
                        <p-sortIcon field="price" />
                    </th>
                    <th pSortableColumn="category" style="min-width:10rem">
                        Category
                        <p-sortIcon field="category" />
                    </th>
                    <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                        Status
                        <p-sortIcon field="inventoryStatus" />
                    </th>
                    <th style="min-width: 12rem"></th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td style="width: 3rem">
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td style="min-width: 12rem">{{ product.productCode }}</td>
                    <td style="min-width: 16rem">{{ product.name }}</td>
                    <td>
                        <img  [src]="'https://localhost:44311/' + product.productImages[0]?.imageUrl" [alt]="product.name" style="width: 64px" class="rounded" />
                    </td>
                    <td>{{ product.price | currency: 'USD' }}</td>
                    <td>{{ product.category.name }}</td>
                   
                    <td>
                        <p-tag  [value]="product.isActive ? 'Active' : 'Inactive'" [severity]="getSeverity(product.isActive)" />
                    </td>
                    <td>
<p-button icon="pi pi-fw pi-qrcode" class="mr-2" [rounded]="true" [outlined]="true" (click)="generate(product)"></p-button>

                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

      <p-dialog 
    [(visible)]="productDialog" 
    [style]="{ 
        'max-width': '90vw',
        'width': '450px'
    }"
    [contentStyle]="{
        'overflow-y': 'auto'
    }"
    header="Product Details" 
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    position="right"
    [showHeader]="true"
    [closable]="true"
    styleClass="custom-dialog"
    [transitionOptions]="'150ms cubic-bezier(0.25, 0.8, 0.25, 1)'">
    
    <ng-template pTemplate="content">
        <div class="flex flex-col gap-6 p-4">
            <img 
                [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" 
                [alt]="product.image" 
                class="block m-auto pb-4 max-w-full h-auto" 
                *ngIf="product.image" 
            />
            
            <div>
              <div class="flex flex-col md:flex-row ">

   <p-iconfield iconPosition="left">
                        <input pInputText type="text" [(ngModel)]="product.name" placeholder="Search" />
                        <p-inputicon class="pi pi-search" />
                    </p-iconfield>
                  
                </div>
            </div>
         
            <div>
                <label for="description" class="block font-bold mb-3">Description</label>
                <textarea 
                    id="description" 
                    pTextarea 
                    [(ngModel)]="product.description" 
                    required 
                    rows="3" 
                    class="w-full resize-none">
                </textarea>
            </div>

            <div>
                <label for="inventoryCategory" class="block font-bold mb-3">Category</label>
                <p-select 
                    [(ngModel)]="product.inventoryCategory" 
                    inputId="inventoryCategory" 
                    (onChange)="onCategoryChange($event)"
                    [options]="allCategories" 
                    optionLabel="name" 
                    optionValue="id" 
                    placeholder="Select a Category" 
                    styleClass="w-full"
                />
            </div>
   <div>
                <label for="inventorySubCategory" class="block font-bold mb-3">Sub Category</label>
                <p-select 
                    [(ngModel)]="product.inventorySubCategory" 
                    
                    inputId="inventorySubCategory" 
                    [options]="subcategories" 
                    optionLabel="name" 
                    optionValue="id" 
                    placeholder="Select a subcategory" 
                    styleClass="w-full"
                />
            </div>
         

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="price" class="block font-bold mb-3">Sale Price</label>
                    <p-inputnumber 
                        id="price" 
                        [(ngModel)]="product.price" 
                        mode="currency" 
                        currency="USD" 
                        locale="en-US" 
                        styleClass="w-full"
                    />
                </div>
                <div>
                    <label for="quantity" class="block font-bold mb-3">Quantity</label>
                    <p-inputnumber 
                        id="quantity" 
                        [(ngModel)]="product.quantity" 
                        styleClass="w-full"
                    />
                </div>
              <div class="card">
  <div class="font-semibold text-xl">Images</div>

  <p-fileupload 
    name="demo[]" 
    (onSelect)="onSelect($event)" 
    [multiple]="true" 
    accept="image/*" 
    maxFileSize="1000000" 
    mode="advanced"
    [showUploadButton]="false" 
    [showCancelButton]="false">    
    <ng-template #empty>
      <div>Drag and drop files here to upload.</div>
    </ng-template>
  </p-fileupload>

  <!-- Display uploaded images: 2 per row -->
  <div class="flex flex-wrap gap-2 mt-4">
    <div *ngFor="let image of uploadedImages" class="w-[48%]">
      <img [src]="image" class="w-full h-auto border rounded" />
    </div>
  </div>
</div>

            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-4">
            <p-button 
                label="Cancel" 
                icon="pi pi-times" 
                severity="secondary"
                [text]="true"
                (click)="hideDialog()" 
            />
            <p-button 
                label="Save" 
                icon="pi pi-check" 
                (click)="saveProduct()" 
            />
        </div>
    </ng-template>
</p-dialog>

        <p-confirmdialog [style]="{ width: '450px' }" />



        <p-dialog 
    [(visible)]="barcodeDialogVisible"
    [style]="{ 'max-width': '90vw', 'width': '550px','border-radius': 'unset','margin-right': '-1%' }"
    [contentStyle]="{ 'overflow-y': 'auto' }"
    header="Generate Barcodes"
    [modal]="true"
    [draggable]="false"
    [resizable]="false" 
    position="right"
    [showHeader]="true"
    [closable]="true"
    styleClass="custom-dialog"
    [transitionOptions]="'150ms cubic-bezier(0.25, 0.8, 0.25, 1)'"
>
   <input pInputText type="text"  [(ngModel)]="newBarcodeValue" placeholder="Enter barcode value" />
         <p-button label="Quntity" icon="pi pi-check" (click)="addbarcode()" />
    <ng-template pTemplate="content">
    
 
<div *ngFor="let row of chunkedBarcodes" class="barcode-row" #printSection>
  <div class="barcode-line">
    <img *ngFor="let barcode of row" [src]="barcode" alt="Generated Barcode" />
  </div>
  <hr class="dotted-line" />
</div>
<br>
<br>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-4">
            <p-button label="Cancel" icon="pi pi-times" (click)="hideDialog()" severity="secondary" [text]="true" />
          <p-button label="Print" icon="pi pi-print" (click)="onclickButtonClick()" />

        </div>
    </ng-template>
</p-dialog>
   